html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: springgreen;
}

nav ul li{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    font-size: 30px;
    grid-template-rows: auto auto auto;
    background-color: salmon;
    border: 10px solid goldenrod;
   

}

 nav ul li{

        display: inline;
        
    }

ul{

    text-align: center;
}