@media(min-width: 768px){


nav ul li{
  display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    font-size: 30px;
    grid-template-rows: auto auto auto;
    
}


main {
  grid-template-columns: auto auto;
  justify-content: space-around;
}


}

