footer{
    font-size: 15px;
    height: auto;
    text-align:center;
    display: grid;
    padding: 7px;
    display: grid;
    grid-row: auto;
    grid-template-columns: auto;
}
footer,update,address {
    background: #643219;
    color: #fcf8f2;
    border-radius: 10px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
}
.update{
margin-bottom: -20px;
}